---
const { href } = Astro.props;

---
<a href={href}>
  <button
    class="btn btn-outline btn-info rounded-full font-normal uppercase hover:text-white text-30"
  >
    <slot />
  </button>
</a>
<style scoped>
  .btn:hover {
    color: white;
  }
</style>
