---
import Image from "astro/components/Image.astro";
import  iconArrow from "../../../public/icon/ScrollTop.svg"
import { Icon } from "astro-icon/components";

---
  <button class="btn-go-top hidden" id="backToTopBtn">
    <div class="flex">
      <!-- <span class="uppercase">Scroll&nbsp;&nbsp;&nbsp;Up&nbsp;&nbsp;<Icon name="arrow-left" /></span> -->
      <img src="../../../public/icon/btn-scrollup.svg" alt="" />
    </div>
  </button>
  <button class="btn-messeger">
    <img src="../../../public/icon//btn-messeger.svg" alt=""/>
  </button>

<style scoped>
 button {
  position: fixed;
  bottom: 110px;
  right: 20px;
  height: 3em;
  width: 3em;
  cursor: pointer;
  z-index: 100;
 }
  button.btn-messeger {
  position: fixed;
  bottom: 40px;
  right: 20px;
  height: 3em;
  width: 3em;
  cursor: pointer;

  }
 button span {
  transform: rotate(-90deg);
    transform-origin: left top 0;
    display: flex;
    align-items: center;
    letter-spacing: 1px;

 }
 
 @media only screen and (max-width: 767px) {
 .btn-go-top {
   display: none !important;
 }
 button.btn-messeger {
  bottom: 160px;
  right: 10px;
 }
}

</style>
