---
// import PartnerSwiper from "./PartnerSwiper.vue";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const { class: className, ...props } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const reqUrl = `https://demo2.utcc.ac.th/wp-json/wp/v1/myacf/options/partner`;
const response = await fetch(reqUrl, { mode: "cors" });
const partnerList = await response.json();
---

<div id="partners" class="py-24 bg-a-yellow-FFD179">
  <div class="px-4 sm:px-16">
    <div class="container mx-auto">
      <div class="text-66 font-semibold mb-0">
        {`${t("home.partner.title")}`}
      </div>
      <div class="sm:w-30 pt-0 md:pt-4">
        <div class="text-30">
          {`${t("home.partner.description")}`}
        </div>
      </div>
    </div>
    <div class="partner-section pt-16">
      <div class="our-partner">
        <div class="partner-group">
          <div class="partner-list justify-end">
            {
              partnerList.map((item) => (
                <div class="partner-list-item bg-white shadow-md hover:shadow-none transition-all rounded-md md:rounded-lg">
                  <img src={item.logo} alt={item.title} loading="lazy" />
                </div>
              ))
            }
            {
              partnerList.map((item) => (
                <div class="partner-list-item bg-white shadow-md hover:shadow-none transition-all rounded-lg is-mobile">
                  <img src={item.logo} alt={item.title} loading="lazy" />
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style scoped>
  @import "../../styles/global.css";
  @import "../../styles/base.scss";

  .our-partner {
    position: relative;
  }

  .partner-group {
    overflow: hidden;
    position: relative;
  }

  .partner-list {
    display: flex;
    margin-bottom: 15px;
    margin-right: -200px;
    width: 100%;
    animation: slideSide 60s linear infinite;
  }

  .partner-list .partner-list-item {
    display: block;
    height: 120px;
    width: auto;
    min-width: 250px;
    margin: 0 15px;
  }

  .partner-list-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }

  .partner-group::before,
  .partner-group::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  .partner-group::before {
    left: 0;
    background: linear-gradient(
      to right,
      rgba(255, 209, 121, 1) 0%,
      rgba(255, 209, 121, 0) 100%
    );
  }

  .partner-group::after {
    right: 0;
    background: linear-gradient(
      to left,
      rgba(255, 209, 121, 1) 0%,
      rgba(255, 209, 121, 0) 100%
    );
  }

  @media (max-width: 1023px) {
    .partner-group::before,
    .partner-group::after {
      display: none;
    }

    .partner-list {
      animation: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .partner-list .partner-list-item {
      display: inline-block;
      height: 100%;
      margin: 2.5px;
      width: 23%;
    }

    .partner-list-item img {
      max-width: initial;
      width: 100%;
      height: auto;
      max-height: 85px;
    }

    .is-mobile {
      display: none !important;
    }
  }

  @media (max-width: 767px) {
    .partner-list .partner-list-item {
      width: 30%;
      min-width: initial;
    }
    .partner-list-item img {
      max-height: 40px;
    }
  }
</style>
