---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;

---

<a href={href} class="cool-link mx-2" >
	<slot />
</a>
<style scoped>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
	}
	.cool-link {
    display: inline-block;
    color: #0B0B0B;
    text-decoration: none;
    position:relative;
}

.cool-link::after {
    position: absolute;
    bottom:0;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: wheat;
    transition: width .3s;
    right:0;
    left: initial;
}

.cool-link:hover::after {

    width: 100%;
    right:initial;
    left: 0;
    transition: width .3s;
}
</style>
