---

---

<div class="menubar flex lg:hidden">
  <div
    class="container mx-auto flex justify-center fixed left-0 right-0 bottom-0 mb-10 z-50"
  >
    <ul class="menu menu-horizontal bg-white rounded-box items-center drop-shadow-2xl ">
      <li>
        <a href="/">
          <div class="relative justify-items-stretch">
          <img src="../../public/icon/menu-home.svg" class="mx-auto"  alt="home" />
          <div class="text-[18px] text-a-black-0B0B0B py-2"> หน้าแรก</div>       
          </div>
        </a>
      </li>
      <li>
        <a href="/#course">
          <div class="relative justify-items-stretch">
          <img src="../../public/icon/menu-course.svg" class="mx-auto"  alt="course" />
          <div class="text-[18px] text-a-black-0B0B0B py-2"> หลักสูตร</div>     
          </div>
        </a>
      </li>
      <li>
        <a href="https://www.utcc.ac.th/tuitionfees/">
          <div class="relative justify-items-stretch">
            <img src="../../public/icon/menu-calculator.svg" class="mx-auto" alt="course" />
            <div class="text-[18px] text-a-black-0B0B0B py-2"> ค่าเล่าเรียน</div>     
          </div>
        </a>
      </li>
      <li>
        <a href="https://www.utcc.ac.th/admission/">
          <div class="relative justify-items-stretch">
            <div class="bg-a-yellow-F8AF23 h-[60px] w-[60px] rounded-full p-4 -mt-7 shadow">
              <img src="../../public/icon/menu-admission.svg" class="mx-auto " alt="course" />
            </div>
            <div class="text-[18px] text-a-black-0B0B0B py-2"> ค่าเล่าเรียน</div>     
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
